<ActionBar title="My App" class="action-bar"></ActionBar>

<GridLayout rows="auto, *" columns="*">
    <StackLayout row="0" col="0">
        <ns-search-form
            [gridLayout]="gridLayout">
        </ns-search-form>
    </StackLayout>
    <StackLayout row="1" col="0">
        <ListView class="list-group" id="pitches-list" 
            [items]="pitches" (itemTap)="onItemTap($event)">
            <ng-template let-pitch="item" let-i="index" let-odd="odd" let-even="even">
                <!-- <ns-pitch
                    [pitch]="pitch">
                </ns-pitch> -->
                <Label text="Pitch"></Label>
            </ng-template>
        </ListView>
    </StackLayout>
</GridLayout>
