<GridLayout rows="*" columns="auto, auto, auto, auto, auto, auto">
    <StackLayout class="input-field" row="0" col="0">
        <Label class="label" text="Pitch ID" row="0" col="0" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="input-field" row="0" col="1">
        <Label class="label" text="Start date" row="0" col="0" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="input-field" row="0" col="2">
        <Label class="label" text="Duration" row="0" col="0" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="input-field" row="0" col="3">
        <Label class="label" text="Price GBP" row="0" col="0" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="input-field" row="0" col="4">
        <Label class="label" text="Price EUR" row="0" col="0" textWrap="true"></Label>
    </StackLayout>
    <StackLayout class="input-field" row="0" col="5">
        <Label class="label" text="Availabilities" row="0" col="0" textWrap="true"></Label>
    </StackLayout>
</GridLayout>